.InitialInterview {

}

.card{
  width: 100%;
}

.actions{
  justify-content: center;
}

button.button{
  text-transform: capitalize;
}

.dialogTitle{
  text-align: center;
}

.dialogFields{
  display: flex;
  flex-direction: column;
}

div.dialogActions{
  justify-content: center;
}


